
{% csrf_token %}
{% block content %}


 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <p>
                <a class="navbar-brand">CNN Image Processing</a>
            </p>
        </div>
      </div>
    </nav>
<p style="color:red;"> {% for message in messages %}{{ message }} {% endfor %}</p>
    <div id="login">
<form action="upload_pic" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
      Please select image type:<br>
          <input type="radio" id="test" name="imageType" value="test">
                <label for="test">Test</label><br>
          <input type="radio" id="clean" name="imageType" value="clean">
                <label for="clean">Clean</label><br>
          <input type="radio" id="messy" name="imageType" value="messy">
                <label for="messy">Messy</label><br>
          <input type="radio" id="notcr" name="imageType" value="notcr">
                <label for="notcr">Notcr</label><br>
    </p>
    <p>
        <input id="id_image" type="file" class="" name="image">
    </p>

    <input type="submit" value="Submit" />
</form>


{% endblock %}